@(employeeForm: Form[forms.EmployeeForm],title: String,isupdate: Boolean = false)

@import helper._


<table class="table">
    <thead><tr><th colspan="2">@title</th></tr></thead>	
    <tbody>	
    <tr><td>
	@inputText(field=employeeForm("name"), args = 'class -> "input-large", 'placeholder -> "employee name", '_label -> "Employee Name")	
	</td><td>
	@textarea(field=employeeForm("address"), args = 'rows -> 3, 'cols -> 50, 'class -> "input-large", 'placeholder -> "employee address", '_label -> "Address")	
	</td></tr>

	<tr><td>
	@inputText(field=employeeForm("mobile_number"), args = 'class -> "input-large", 'placeholder -> "mobile number", '_label -> "Mobile Number")	
	</td><td>
	@inputText(field=employeeForm("joining_date"), args = 'class -> "input-large", '_label -> "Joining date")	
	</td></tr>

	@if(isupdate){
	<tr><td colspan="2">
	@inputText(field=employeeForm("terminate_date"), args = 'class -> "input-large", '_label -> "Terminate Date")	
	</td></tr>
	}

    </tbody>
    <tfoot>
	<tr>
    	<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td> 	
    </tr>	
	</tfoot>
</table>
		

<script type="text/javascript">
	$(function() {
		$("#joining_date").datepicker({dateFormat:"dd/mm/yy"});
		$("#terminate_date").datepicker({dateFormat:"dd/mm/yy"});

		$("#joining_date").keypress(function() {
				return false;
		});

		$("#terminate_date").keypress(function(event) {
			if(event.which!=8)
					return false;
		});
	});
</script>