@(employeeForm: Form[forms.EmployeeForm],title: String,isupdate: Boolean = false)

@import helper._


<table class="table">
    <thead><tr><th colspan="2">@title</th></tr></thead>	
    <tbody>	
    <tr><td>
	@inputText(field=employeeForm("name"), args = 'class -> "input-large", 'placeholder -> Messages("employee.name"), '_label -> Messages("employee.name"),'_showConstraints -> false)	
	</td><td>
	@textarea(field=employeeForm("address"), args = 'rows -> 3, 'cols -> 50, 'class -> "input-large", 'placeholder -> Messages("employee.address"), '_label -> Messages("employee.address"),'_showConstraints -> false)	
	</td></tr>

	<tr><td>
	@inputText(field=employeeForm("mobile_number"), args = 'class -> "input-large", 'placeholder -> Messages("employee.mobile"), '_label -> Messages("employee.mobile"), '_showConstraints -> false)	
	</td><td>
	@inputText(field=employeeForm("joining_date"), args = 'class -> "input-large", '_label -> Messages("employee.joining.date"),'_showConstraints -> false)	
	</td></tr>

	@if(isupdate){
	<tr><td colspan="2">
	@inputText(field=employeeForm("terminate_date"), args = 'class -> "input-large", '_label -> Messages("employee.terminated.date"),'_showConstraints -> false)	
	</td></tr>
	}

    </tbody>
    <tfoot>
	<tr>
    	<td colspan="2">
    		<button type="submit" class="btn btn-primary">@Messages("common.button.save")</button>
    	</td> 	
    </tr>	
	</tfoot>
</table>
		

<script type="text/javascript">
	$(function() {
		$("#joining_date").datepicker({dateFormat:"dd/mm/yy"});
		$("#terminate_date").datepicker({dateFormat:"dd/mm/yy"});

		$("#joining_date").keypress(function() {
				return false;
		});

		$("#terminate_date").keypress(function(event) {
			if(event.which!=8)
					return false;
		});
	});
</script>