@main(){

 	<div class="subnav">
	    <ul class="nav nav-pills">      
	      <li class=""><a href="@routes.EmployeeController.create_new()" id="employee-add">Add</a></li> 
	      <li class="">
	      	<a href="#" link="@routes.EmployeeController.update_get(0L)" id="employee-edit">Edit</a>
	      </li>  
	      <li class="">
	      	<a href="#" link="@routes.EmployeeController.delete(0L)" id="employee-delete">Delete</a>
	      </li> 		          
	      <li class="pull-right">
	      	<a href="#" id="employee-terminated">Terminated</a>
	      </li> 
	      <li class="pull-right">
	      	<a href="#" id="employee-all">All</a>
	      </li> 
	    </ul>
  	</div>

	<br/>

	<table id="employee-grid"></table> 
	<div id="employee-pager"></div>

	<script type="text/javascript">

	$(function(){
		process_employees('@routes.EmployeeController.all_active()');

		$("#employee-edit").click(employee_edit_click);
		$("#employee-delete").click(employee_delete_click);
		$("#employee-terminated").click(employee_terminated_click);
		$("#employee-all").click(employee_all_click);
	});

	var process_employees = function(req_url) {				
  		$.ajax({
			url: req_url,
			processData:false,
			type: 'GET',
			beforeSend:function(jqXHR, settings){					
				jqXHR.setRequestHeader("Content-Type", "application/json");					
			},
			success: function(data, textStatus, jqXHR){					
				render_employees(data);	
			},
			error: function(jqXHR, textStatus, errorThrown){				
			},
			complete: function(jqXHR,textStatus){					
			}	
		});
	};

	var render_employees = function(employees) {		
		var employee_grid=$("#employee-grid");

		employee_grid.jqGrid('clearGridData');

		if(employees == undefined || employees == null){
			return;
		}	

		employee_grid.jqGrid({
			datatype: "local",
		    colNames:['Srno','ID','Name','Address','Mobile','Joining Date'],
		    colModel:[
		    	{name:'id',index:'id',hidden:true,sorttype:'int',width:'50px',key:true},
		    	{name:'pk',index:'pk',hidden:true,sorttype:'int',width:'50px'},
		    	{name:'name',index:'name'},
		    	{name:'address',index:'address'},
		    	{name:'mobile_number',index:'mobile_number',width:'40px'},
		    	{name:'joining_date',index:'joining_date',width:'40px'}
		    ],		    
		    viewrecords: true,
		    multiselect: false,
		    caption: "Employees",		    
		    height: 250,
		    width: 900
		});

		$.each(employees,function(i,employee){
			employee_grid.jqGrid('addRowData',i+1,employee);	
		});
	};

	var employee_edit_click = function(){		
		var id = $("#employee-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#employee-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);
			$(this).attr('href',link);
		} else { 
			alert("Please select row");
		} 		
	}	

	var employee_delete_click = function(){		
		var id = $("#employee-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#employee-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);			

			$.ajax({
				url: link,
				processData:false,
				type: 'GET',
				beforeSend:function(jqXHR, settings){					
					jqXHR.setRequestHeader("Content-Type", "application/json");					
				},
				success: function(data, textStatus, jqXHR){					
					alert('Selected employee has been deleted successfully');
					process_employees('@routes.EmployeeController.all_active()');
				},
				error: function(jqXHR, textStatus, errorThrown){				
					alert("Error : " + jqXHR.responseText);
				},
				complete: function(jqXHR,textStatus){					
				}	
			});

		} else { 
			alert("Please select row");
		} 		
	};

	var employee_terminated_click = function(){		
		process_employees('@routes.EmployeeController.all_terminated()');
	};

	var employee_all_click = function(){		
		process_employees('@routes.EmployeeController.all()');
	};
	</script>

}	