@main(){

	<div class="subnav">
    	<ul class="nav nav-pills">
    	<li class=""><a href="@routes.PriceController.create_new()" class="btn" id="price-add">Add</a></li>
    	<li class=""><a href="#" link="@routes.PriceController.update_get(0L)" class="btn" id="price-edit">Edit</a></li>
    	<li class=""><a href="#" link="@routes.PriceController.delete(0L)" class="btn" id="price-delete">Delete</a></li>
    	</ul>
    </div>
    
    <br/>
    
	    <table id="price-grid"></table> 
		<div id="price-pager"></div>
		
		<script type="text/javascript">
		
		$(function(){
			process_prices();	
			$("#price-edit").click(price_edit_click);			
			$("#price-delete").click(price_delete_click);			
		});
		
	var process_prices = function() {		
  		$.ajax({
			url: '/service/prices',
			processData:false,
			type: 'GET',
			beforeSend:function(jqXHR, settings){					
				jqXHR.setRequestHeader("Content-Type", "application/json");					
			},
			success: function(data, textStatus, jqXHR){				
				render_prices(data);	
			},
			error: function(jqXHR, textStatus, errorThrown){				
				//display_error_msg(errorThrown);	
			},
			complete: function(jqXHR,textStatus){					
			}	
		});
	};
	
	var render_prices = function(prices) {		
		$("#price-grid").jqGrid('clearGridData');

		if(prices == undefined || prices == null){
			return;
		}	

		$("#price-grid").jqGrid({
			datatype: "local",
		    colNames:['Srno','ID','Rate Amount'],
		    colModel:[
		    	{name:'id',index:'id',hidden:true,sorttype:'int',width:'50px',key:true},
		    	{name:'pk',index:'pk',hidden:true,sorttype:'int',width:'50px'},
		    	{name:'amount',index:'amount'},
		    ],		   
		    viewrecords: true,
		    multiselect: false,
		    caption: "Users",		    
		    height: 250,
		    width: 900
		});		

		$.each(prices,function(i,price){
			price.pk=price.id;
			price.id=i+1;
			$("#price-grid").jqGrid('addRowData',i+1,price);	
		});		
	};

	var price_edit_click = function(){		
		var id = $("#price-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#price-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);
			$(this).attr('href',link);
		} else { 
			alert("Please select row");
		} 		
	};

	var price_delete_click = function(){		
		var id = $("#price-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#price-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);			

			$.ajax({
				url: link,
				processData:false,
				type: 'GET',
				beforeSend:function(jqXHR, settings){					
					jqXHR.setRequestHeader("Content-Type", "application/json");					
				},
				success: function(data, textStatus, jqXHR){					
					alert('Selected price has been deleted successfully');
					process_prices();
				},
				error: function(jqXHR, textStatus, errorThrown){				
					alert("Error : " + jqXHR.responseText);
				},
				complete: function(jqXHR,textStatus){					
				}	
			});

		} else { 
			alert("Please select row");
		}
	};
		
		
	</script>
}