@(subareaForm: Form[forms.SubAreaForm],title: String)

@import helper._

<table class="table">
    <thead>
    	<tr><th>@title</th></tr>
    </thead>	
    <tbody>	
    <tr>	    	
    	<td>
		@select(field=subareaForm("areaid"), options(models.Area.asMap), args= '_label -> Messages("area"),'_showConstraints -> false)
		</td>
	</tr><tr><td>
		@inputText(field=subareaForm("name"), args = 'class -> "input-large", '_label -> Messages("subarea.name"),'_showConstraints -> false)		
		</td>
    </tr>
    </tbody>
    <tfoot>
	<tr>
    	<td><button type="submit" class="btn btn-primary">@Messages("common.button.save")</button></td> 	
    </tr>	
	</tfoot>
</table>