@(subareaForm: Form[forms.SubAreaForm],areaMap: Map[String,String],empMap: Map[String,String],id: Long)

@import helper._


@main() {
	
	@form(action = routes.SubAreaController.update_save(id)) {
		@select(field=subareaForm("areaid"), options = options(areaMap), args= '_label -> "Area")

		@select(field=subareaForm("employeeid"), options = options(empMap), args= '_label -> "Employee")

		@inputText(field=subareaForm("name"), args = 'class -> "input-large", '_label -> "Sub Area Name")		

		<button type="submit" class="btn btn-primary">Save</button>
	}
}