@(invoices: List[models.Invoice],title: String)

@import helper._
@import models._

<table class="table table-striped table-bordered table-condensed">
    <thead>
    	<tr><th colspan="7">@title</th></tr>
    	<tr>
            <th>@Messages("customer.id.number")</th>            
    		<th>@Messages("customer.name")</th>
            <th>@Messages("area")</th>
            <th>@Messages("subarea")</th>
    		<th>@Messages("customer.address")</th>
    		<th>@Messages("invoice.amount")</th>            
    		<th>@Messages("customer.balance")</th>
    	</tr>
    </thead>	     
    <tbody>	
	    @for(invoice <- invoices) {	
		    <tr>                
                <td>@invoice.getCustomerId()</td>            
		    	<td>@invoice.getCustomerName()</td> 
                <td>@invoice.getAreaName()</td>            
                <td>@invoice.getSubAreaName()</td>            
		    	<td>@invoice.customer.address</td>	    	
		    	<td>@invoice.amount</td>                 
		    	<td>@invoice.customer.balance</td>
		    </tr>	    
		}
 	</tbody>	    
</table>
