@(invoiceGenerateForm: Form[forms.InvoiceGenerateForm],invoices: List[models.Invoice])

@import helper._
@import controllers._

@main() {

	@if(invoices==null){
		@views.html.common.errormsg(invoiceGenerateForm.globalErrors())	

		@form(action = routes.InvoiceController.generate()) {
			<table class="table">
		    <thead>
		    	<tr><th colspan="3">@Messages("generate.invoice")</th></tr>
		    </thead>	
		    <tbody>	
		    <tr>	    	
		    	<td>@select(field=invoiceGenerateForm("year"), options = options(InvoiceController.yearAsMap), args= '_label -> Messages("year"))</td> 
		    	<td colspan="2">@select(field=invoiceGenerateForm("month"), options = options(InvoiceController.monthAsMap), args= '_label -> Messages("month"))</td>	    	
		    </tr>	    
			</tbody>
		    <tfoot>
			<tr>
		    	<td colspan="3"><button type="submit" class="btn btn-primary">
		    		@Messages("common.button.generate")</button></td> 	
		    </tr>	
			</tfoot>
			</table>		
		}
	}else{
		@generateresult(invoices,Messages("generate.invoice.list"))
	}
	
}

