@(invoiceGenerateForm: Form[forms.InvoiceGenerateForm],monthMap: Map[String,String],yearMap: Map[String,String],invoices: List[models.Invoice])

@import helper._

@main() {

	@if(invoices==null){
		@views.html.common.errormsg(invoiceGenerateForm.globalErrors())	

		@form(action = routes.InvoiceController.generate()) {
			<table class="table">
		    <thead>
		    	<tr><th colspan="3">Generate Invoice</th></tr>
		    </thead>	
		    <tbody>	
		    <tr>	    	
		    	<td>@select(field=invoiceGenerateForm("year"), options = options(yearMap), args= '_label -> "Year")</td> 
		    	<td colspan="2">@select(field=invoiceGenerateForm("month"), options = options(monthMap), args= '_label -> "Month")</td>	    	
		    </tr>	    
			</tbody>
		    <tfoot>
			<tr>
		    	<td colspan="3"><button type="submit" class="btn btn-primary">Generate</button></td> 	
		    </tr>	
			</tfoot>
			</table>		
		}
	}else{
		@generateresult(invoices,"Generated Invoice List")
	}
	
}

