@(invoiceSearchForm: Form[forms.InvoiceSearchForm],invoices: List[models.Invoice])

@import helper._
@import models._
@import controllers._

@main() {
	
	@views.html.common.errormsg(invoiceSearchForm.globalErrors())	

	@form(action = routes.InvoiceController.search()) {
		<table class="table">
	    <thead>
	    	<tr><th colspan="2">Search Invoice</th></tr>
	    </thead>	
	    <tbody>	
	    <tr>	    	
	    	<td>@select(field=invoiceSearchForm("year"), options = options(InvoiceController.yearAsMap), args= '_label -> "Year")</td> 
	    	<td>@select(field=invoiceSearchForm("month"), options = options(InvoiceController.monthAsMap), args= '_label -> "Month")</td>	    	
	    </tr>	    
		<tr>
	    	<td>@select(field=invoiceSearchForm("areaid"), options = options(Area.asMap), args= '_label -> "Area", '_default -> "--- Choose Area ---")</td>
	    	<td>@select(field=invoiceSearchForm("subareaid"), options = options(SubArea.asMapByAreaId(invoiceSearchForm("areaid").value)), args= '_label -> "Sub Area", '_default -> "--- Choose Subarea ---")</td>	    	
	    </tr>	    
	    </tbody>
	    <tfoot>
		<tr>
	    	<td colspan="2"><button id="searchbtn" type="submit" class="btn btn-primary">Search</button></td> 	
	    </tr>	
		</tfoot>
		</table>

		<script type="text/javascript">
		var on_area_change = function(event){
			var form=$('form');
			form.attr('action','@routes.InvoiceController.on_area_change()');
			form.attr('method','POST');
			form.trigger('submit');
		};		

		$(function(){
			$("#areaid").change(on_area_change);		
		});
		</script>
	}

	@if(invoices!=null && !invoices.isEmpty()){
		@searchresult(invoices,"Invoice Search Result")	
	}

}

   