@()

@import helper._
@import models._
@import controllers._

@main() {
		
	<div class="subnav">
    <ul class="nav nav-pills">                	
    	<li>
	      	<select id="monthid" name="monthid" style="border-radius: 5px 5px 5px 5px;margin-bottom: 2px;margin-top: 4px;"> 	      		
	      		<option value="1">@Messages("th.jan")</option><option value="2">@Messages("th.feb")</option>
	      		<option value="3">@Messages("th.mar")</option><option value="4">@Messages("th.apr")</option>
	      		<option value="5">@Messages("th.may")</option><option value="6">@Messages("th.jun")</option>
	      		<option value="7">@Messages("th.jul")</option><option value="8">@Messages("th.aug")</option>
	      		<option value="9">@Messages("th.sept")</option><option value="10">@Messages("th.oct")</option>
	      		<option value="11">@Messages("th.nov")</option><option value="12">@Messages("th.dec")</option>
	    	</select>
    	</li>    	
    	<li>
	      	<select id="yearid" name="yearid" style="border-radius: 5px 5px 5px 5px;margin-bottom: 2px;margin-top: 4px;"> 	      		
	      		@for(year <- controllers.InvoiceController.get_year_list()){
					<option value="@year">@year</option>
	      		}                                                      
	    	</select>
    	</li>    	    	
    	<li>
	      	<select id="areaid" name="areaid" style="border-radius: 5px 5px 5px 5px;margin-bottom: 2px;margin-top: 4px;"> 	      		
	      		@for((key, value) <- models.Area.asMap()){
					<option value="@key">@value</option>
	      		}                                                      
	    	</select>
    	</li>
    	<li>
    		<button id="generatebtn" type="button" class="btn btn-primary" style="border-radius: 5px 5px 5px 5px;margin-bottom: 2px;margin-top: 4px;">@Messages("common.button.generate")</button>
    	</li>    	
    </ul>
  	</div>
	
	<br/>

	<div id="report">
		<table class="table table-striped table-bordered table-condensed">
		    <thead>
		        <tr>
		            <th>@Messages("collection.report.monthly") - @{java.util.Calendar.getInstance().getTime()}</th>       
		        </tr>        
		    </thead>
		</table>
		<table class="table table-striped table-bordered table-condensed">
		    <thead id="theadid">
		    </thead>	     
		    <tbody id="tbodyid">				    
		 	</tbody>	        
		</table>	
	</div>

	<table class="table table-striped table-bordered table-condensed">
    <tfoot>
        <tr>
            <td>                             
                <button id="printbtn" type="button" class="btn btn-primary">
                    @Messages("common.button.print")</button>
            </td>
        </tr>
    </tfoot>
	</table>

	<script type="text/javascript">
		var on_change = function(event){
			// empty the tbody
			$("#theadid").text("");
			$("#tbodyid").text("");
		}
		var on_month_change = function(event){
			on_change(event);
		};	

		var on_year_change = function(event){
			on_change(event);
		};		

		var on_area_change = function(event){
			on_change(event);
		};

		var render_payment_report = function(rdata) {			
			$("#theadid").text("");
			$("#tbodyid").text("");
			var headerrow='<tr><th>@Messages("subarea.name")</th><th>@Messages("invoice.amount")</th>';
			$.each(rdata.days,function(i,day){
				headerrow += '<th>' + day + '</th>';
			});
			headerrow += '<th>@Messages("th.total")</th><th>@Messages("customer.balance")</th></tr>';
			$("#theadid").append(headerrow);

			$.each(rdata,function(key,area){
				if(key!='days'){
					var rowtotal=0;
					var datarow='<tr><td>' + area.name + '</td><td id="itotal">' + area.itotal + '</td>';
					$.each(rdata.days,function(i,day){
						var day_key='' + day, td_day_key=day_key + '_td';
						if(area.day_total[day_key]!=undefined){
							datarow += '<td id="' + td_day_key + '">' + area.day_total[day_key] + '</td>';
							rowtotal += area.day_total[day_key];
						}else{
							datarow += '<td>0</td>';
						}						
					});
					datarow += '<td>' + rowtotal+'</td><td id="ibalance">'+ (area.itotal-rowtotal) +'</td></tr>';
					$("#tbodyid").append(datarow);					
				}
			});

			var itotal=0,atotal=0,totalrow='<tr><td>@Messages("th.total")</td>';
			$.each($("[id=itotal]"),function(j,col){
				itotal+=parseInt($(col).html());
			});
			totalrow += '<td>' + itotal + '</td>';

			$.each(rdata.days,function(i,day){				
				var day_key='' + day, td_day_key='[id=' + day_key + '_td]';
				var coltotal=0;
				$.each($(td_day_key),function(j,col){
					coltotal+=parseInt($(col).html());
				});
				totalrow += '<td>' +coltotal+ '</td>';
				atotal += coltotal;
			});

			var ibalance=0;
			$.each($("[id=ibalance]"),function(j,col){
				ibalance+=parseInt($(col).html());
			});

			totalrow += '<td>' + atotal + '</td><td>' + ibalance + '</td></tr>';
			$("#tbodyid").append(totalrow);
		};

		var on_generate_click = function(event){
			$("#tbodyid").text("");
			var req_url='@routes.PaymentController.daily_payment_report_sa(-1,-2,-3L)';			
			req_url = req_url.replace("-1",$("#monthid").val()).replace("-2",$("#yearid").val()).replace("-3",$("#areaid").val());
			$.ajax({
				url: req_url,
				processData:false,
				type: 'GET',
				beforeSend:function(jqXHR, settings){					
					jqXHR.setRequestHeader("Content-Type", "application/json");					
				},
				success: function(data, textStatus, jqXHR){					
					if(data.days.length>0){
						render_payment_report(data);	
					}else{
						$("#tbodyid").append('<tr><td>@Messages("no.collection.data")</td></tr>');							
					}
				},
				error: function(jqXHR, textStatus, errorThrown){				
					//display_error_msg(errorThrown);	
				},
				complete: function(jqXHR,textStatus){					
				}	
			});			
		};

		var view_report_to_print = function(){
	        var w=window.open();
	        w.document.open();
	        w.document.write($("head").html());
	        w.document.write("<style>body{background-image:none;margin:auto;font-size:10px;width:1280px} .container{width:1280px}</style>");
	        w.document.write('<div class="container"><div class="well">' + $("#report").html() + "</div></div>");
	        w.document.close();
	        w.print();        
	    };

		$(function(){
			$("#printbtn").click(view_report_to_print);
			$("#monthid").change(on_month_change);		
			$("#yearid").change(on_year_change);		
			$("#areaid").change(on_area_change);
			$("#generatebtn").click(on_generate_click);		
		});
	</script>

}
