
<ul class="nav nav-list">   
    <li class="nav-header">Invoice &amp; Payments</li>
    <li lid="search/invoice"><a href="@routes.InvoiceController.search_get()"><i class="icon-cog"></i>Search Invoice</a></li>
    <li lid="generate/invoice"><a href="@routes.InvoiceController.generate_get()"><i class="icon-cog"></i>Generate Invoice</a></li>
    

    <li class="divider"></li>	
    <li class="nav-header">Admin</li>
	<li lid="area"><a href="@routes.AreaController.index()"><i class="icon-star-empty"></i>Area</a></li>
	<li lid="subarea"><a href="@routes.SubAreaController.index()"><i class="icon-star-empty"></i>Sub Area</a></li>
	<li lid="node"><a href="@routes.NodeController.index()"><i class="icon-star-empty"></i>Node</a></li>
	<li lid="employee"><a href="@routes.EmployeeController.index()"><i class="icon-star-empty"></i>Employee</a></li>
	<li lid="customer"><a href="@routes.CustomerController.index()"><i class="icon-star-empty"></i>Customer</a></li>
	<li lid="price"><a href="@routes.PriceController.index()"><i class="icon-star-empty"></i>Price</a></li>
	<li lid="user"><a href="@routes.UserController.index()"><i class="icon-star-empty"></i>User</a></li>

    <li class="divider"></li>
    <li class="nav-header">Reports</li>
    <li><a href="#"><i class="icon-cog"></i>Report1</a></li>
    <li><a href="#"><i class="icon-cog"></i>Report2</a></li>            

    <li class="divider"></li>	
    <li class="nav-header">Profile</li>
	<li lid="change/passwd"><a href="@routes.UserController.get_change_passwd()"><i class="icon-star-empty"></i>Change Password</a></li>
</ul>

<script type="text/javascript">
	$(function(){
		var url=$(location).attr('href');
		var links=$("li[lid]");
		$("li.active").attr("class","");
		$.each(links,function(i,liobject){
			var linkid=$(this).attr("lid");
			if(url.indexOf("/"+linkid)>=0){
				$(liobject).attr("class","active");				
			}
		});			
	});
</script>
