@(customerForm: Form[forms.CustomerForm],title: String, isupdate: Boolean = false)

@import helper._

<table class="table">
    <thead>
    	<tr><th colspan="2">@title</th></tr>
    </thead>	
    <tbody>	
    <tr>
    	<td>
			@select(field=customerForm("areaid"), options(models.Area.asMap), args= '_label -> "Area", '_default -> "--- Choose Area ---")
		</td><td>
    		@select(field=customerForm("subareaid"), options = options(models.SubArea.asMapByAreaId(customerForm("areaid").value)), args= '_label -> "Sub Area", '_default -> "--- Choose Subarea ---")
    	</td>
    </tr>
    <tr>	    	
    	<td>		
			@select(field=customerForm("nodeid"), options = options(models.Node.asMapByAreaId(customerForm("areaid").value)), args= '_label -> "Node", '_default -> "--- Choose Node ---")
		</td><td>
			@select(field=customerForm("amplyid"), options = options(models.Amply.asMapByAreaId(customerForm("areaid").value)), args= '_label -> "Amplifier", '_default -> "--- Choose Amplifier ---")
		</td>
	</tr>

	<tr>	    	
    	<td>		
			@select(field=customerForm("priceid"), options = options(models.Price.asMap), args= '_label -> "Price")
		</td><td>
			@inputText(field=customerForm("id_number"), args = 'class -> "input-large",'_label -> "ID Number")
		</td>
	</tr>

	<tr>
		<td>
			@inputText(field=customerForm("name"), args = 'class -> "input-large", 'placeholder -> "customer name", '_label -> "Customer Name")	
		</td><td>
			@textarea(field=customerForm("address"), args = 'rows -> 3, 'cols -> 50, 'class -> "input-large", 
			'placeholder -> "customer address", '_label -> "Address")		
		</td>
	</tr>

	<tr>
		<td>
			@inputText(field=customerForm("mobile_number"), args = 'class -> "input-large", '_label -> "Mobile Number")			
		</td>
		<td>
			@inputText(field=customerForm("deposite"), args = 'class -> "input-large",'_label -> "Deposite Amount")
		</td>
	</tr>
	
	@if(isupdate){
	<tr>
		<td>
		@inputText(field=customerForm("joining_date"), args = 'class -> "input-large", '_label -> "Joining Date")
		</td>		
		<td>
			@inputText(field=customerForm("terminate_date"), args = 'class -> "input-large", '_label -> "Terminate Date")
		</td>
	</tr>
	}else{
	<tr>
		<td colspan="2">
		@inputText(field=customerForm("joining_date"), args = 'class -> "input-large", '_label -> "Joining Date")
		</td>
	</tr>
	}
</tbody>
    <tfoot>
	<tr>
    	<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td> 	
    </tr>	
	</tfoot>
</table>

<script type="text/javascript">
	$(function() {
		$("#joining_date").datepicker({dateFormat:"dd/mm/yy"});
		$("#terminate_date").datepicker({dateFormat:"dd/mm/yy"});

		$("#joining_date").keypress(function() {
				return false;
		});

		$("#terminate_date").keypress(function(event) {
			if(event.which!=8)
					return false;
		});
	});
</script>

			