@import helper._

@main(){


 <div class="subnav">
    <ul class="nav nav-pills">      
      <li class="">
      	<a href="@routes.CustomerController.create_new()" class="btn" id="customer-add">
      		@Messages("common.button.add")</a>
      </li>
      <li class="">
      	<a href="#" link="@routes.CustomerController.update_get(0L)" class="btn" id="customer-edit">
      		@Messages("common.button.edit")</a>
      </li>
      <li class="">
      	<a href="#" link="@routes.CustomerController.delete(0L)" class="btn" id="customer-delete">
      		@Messages("common.button.delete")</a>
      </li>
      <li>
      	<select id="areaid" name="areaid" style="border-radius: 5px 5px 5px 5px;margin-bottom: 2px;margin-top: 4px;"> 
      		<option class="blank" value="0">@Messages("choose.area")</option>
      		@for((key, value) <- models.Area.asMap()){
				<option value="@key">@value</option>
      		}                                                      
    	</select>
      </li>
      
      <li class="pull-right">
	  	<a href="#" class="btn" id="customer-terminated">@Messages("common.button.terminated")</a>
	  </li> 
	  <li class="pull-right">
	  	<a href="#" class="btn" id="customer-all">@Messages("common.button.all")</a>
	  </li> 
    </ul>
  </div>
	
  <br/>

  	<table id="customer-grid"></table> 
	<div id="customer-pager"></div>

	<script type="text/javascript">

	$(function(){
		process_customers('@routes.CustomerController.all_active_by_area(0L)');

		$("#customer-edit").click(customer_edit_click);
		$("#customer-delete").click(customer_delete_click);
		$("#customer-all").click(customer_all_click);
		$("#customer-terminated").click(customer_terminated_click);
		$("#areaid").change(on_area_change);

	});

	var on_area_change = function(event){
		process_customers('@routes.CustomerController.all_active_by_area(0L)');		
	};		

	var process_customers = function(req_url) {		
		req_url=req_url.replace('0',$("#areaid").val());

  		$.ajax({
			url: req_url,
			processData:false,
			type: 'GET',
			beforeSend:function(jqXHR, settings){					
				jqXHR.setRequestHeader("Content-Type", "application/json");					
			},
			success: function(data, textStatus, jqXHR){					
				render_customers(data);	
			},
			error: function(jqXHR, textStatus, errorThrown){				
				//display_error_msg(errorThrown);	
			},
			complete: function(jqXHR,textStatus){					
			}	
		});
	};

	var render_customers = function(customers) {		
		$("#customer-grid").jqGrid('clearGridData');
		if(customers == undefined || customers == null){
			return;
		}	

		$("#customer-grid").jqGrid({
			datatype: "local",
		    colNames:['@Messages("common.srno")','@Messages("common.id")','@Messages("customer.name")','@Messages("customer.address")','@Messages("customer.mobile")','@Messages("subarea")','@Messages("customer.rate")','@Messages("customer.joining.date")','@Messages("customer.balance")'],
		    colModel:[
		    	{name:'id',index:'id',hidden:true,width:'50px',key:true},
		    	{name:'pk',index:'pk',hidden:true,width:'50px',sorttype:'int'},
		    	{name:'name',index:'name'},
		    	{name:'address',index:'address'},
		    	{name:'mobile_number',index:'mobile_number',width:'40px'},
		    	{name:'subareaname',index:'subareaname'},
		    	{name:'priceamount',index:'priceamount',width:'25px'},		    	
		    	{name:'joining_date',hidden:true,index:'joining_date'},
		    	{name:'balance',index:'balance',width:'35px',sorttype:'int'}
		    ],		   
		    viewrecords: true,
		    multiselect: false,
		    caption: "@Messages("customer.index")",		    
		    height: 250,
		    width: 900
		});		

		$.each(customers,function(i,customer){
			customer.pk=customer.id;
			customer.id=i+1;
			customer.subareaname=customer.sub_area.name;
			customer.priceamount=customer.price.amount;
			$("#customer-grid").jqGrid('addRowData',i+1,customer);	
		});
	};

	var customer_edit_click = function(){		
		var id = $("#customer-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#customer-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);
			$(this).attr('href',link);
		} else { 
			alert('@Messages("please.select.row")');
		} 		
	};

	var customer_delete_click = function(){		
		var id = $("#customer-grid").jqGrid('getGridParam','selrow'); 
		if (id) { 
			var ret = $("#customer-grid").jqGrid('getRowData',id); 			
			var link=$(this).attr("link");
			link=link.replace('0',ret.pk);			

			$.ajax({
				url: link,
				processData:false,
				type: 'GET',
				beforeSend:function(jqXHR, settings){					
					jqXHR.setRequestHeader("Content-Type", "application/json");					
				},
				success: function(data, textStatus, jqXHR){					
					alert('@Messages("record.deleted.succ")');
					process_customers('@routes.CustomerController.all_active_by_area(0L)');
				},
				error: function(jqXHR, textStatus, errorThrown){				
					alert("Error : " + jqXHR.responseText);
				},
				complete: function(jqXHR,textStatus){					
				}	
			});

		} else { 
			alert('@Messages("please.select.row")');
		}
	};

	var customer_terminated_click = function(){		
		process_customers('@routes.CustomerController.all_terminated_by_area(0L)');
	};

	var customer_all_click = function(){		
		process_customers('@routes.CustomerController.all_by_area(0L)');
	};

	</script>
}	